#tolc_panel {
    background: #fdff76;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}
#tolc_slide {
    margin: 0;
    padding: 0;
    border-top: solid 3px #0A246A;
}
#tolc_btn_slide {
    text-align: center;
    width: 300px;
    height: 20px;
    padding: 0;
    margin: 0 auto;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    background: #eb8f00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tp_btn {
    font-size: 11px;
}