# APP SETTINGS -----------------------------------------------------------------
/app/common/settings.php
/.htaccess

# APP DATA ---------------------------------------------------------------------
/templates/*
/modules/*
/images/*
/files/*

# APP LOGS ---------------------------------------------------------------------

# APP CACHE --------------------------------------------------------------------

# APP TEST ---------------------------------------------------------------------

# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*
# ------------------------------------------------------------------------------