# APP SETTINGS -----------------------------------------------------------------
.htaccess
/app/conf/settings.php
/app/conf/settings.bak.php

# APP DATA ---------------------------------------------------------------------
favicon.ico
/data/*
!/data/default
!/data/README

# APP LOGS ---------------------------------------------------------------------
/log/*

# APP CACHE --------------------------------------------------------------------
/lib/ext/htmlpurifier-4.4.0-lite/library/HTMLPurifier/DefinitionCache/Serializer/*
!/lib/ext/htmlpurifier-4.4.0-lite/library/HTMLPurifier/DefinitionCache/Serializer/README

# APP TEST ---------------------------------------------------------------------
/test/*

# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*
# ------------------------------------------------------------------------------