# APP SETTINGS -----------------------------------------------------------------
/app/common/settings.php
/.htaccess

# APP DATA ---------------------------------------------------------------------
/images/*
/files/*
/templates/*

# APP LOGS ---------------------------------------------------------------------

# APP CACHE --------------------------------------------------------------------

# APP TEST ---------------------------------------------------------------------

# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*
# ------------------------------------------------------------------------------