.rte_tools {
    clear: both;
    padding: 5px;
    font-size: 12px;
    font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
}

.label_over_input {
    float: left;
    padding-right: 15px;
}

input {
    border: 1px solid;
}

select {
    background: #ffffff;
}

#date_publish_start, #date_publish_end {
    font-size: 12px;
    font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
    width: 140px;
}

fieldset {
    width: 97%;
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: 0px;
}

fieldset legend {
    width: 180px;;
    font-size: 12px;
    cursor: pointer;
}

fieldset legend div {
    margin: 0.3em 0.5em;
}

fieldset .field {
    margin: 0.5em;
    padding: 0.5em;
}

fieldset .field label {
    margin-right: 0.4em;
}

.status_draft {
    color: #747576;
}

.status_pending_review {
    color: blue;
}

.status_under_review {
    color: orange;
}

.status_approved {
    color: #008000;
}

.status_rejected {
    color: #f01616;
}


/* DATEPICKER FONT-SIZE ----------------------------------------------------- */
div.ui-datepicker {
    font-size: 12px;
}