#user_message {
    color: red;
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 0.3em;
}

#new_page_form input, select {
    margin: 5px 0;
    padding: 5px;
    color: #6A6969;
    border-width: 1px;
    border-style: solid;
    border-color: #D4D4D4 #EBEBEB #EBEBEB #D4D4D4;
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    float: left;
    border-radius: 5px;
}

#new_page_form input:focus, select:focus {
    color: #7BA857;
    background: #EFFAE6;
}

#new_page_form label {
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    width: 25%;
    float: left;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.field_container {
    width: 90%;
    height: 40px;
    clear: both;
    margin: auto;
}

#page_url, #page_title, #www_templates_id, #parent_title {
    width: 60%;
}

.required {
    color: #9c1821 !important;
    font-weight: bold !important;
}

.ui-autocomplete li {
    text-align: left;
}